%link{href: "skin/blue.monday/jplayer.blue.monday.css", rel: 'stylesheet', type: 'text/css'}
%script{src: 'jquery.jplayer.min.js', type: 'text/javascript'}

#jp_container_1.jp-video.jp-video-360p.center
  .jp-type-single
    #jquery_jplayer_1.jp-jplayer
    .jp-gui
      .jp-video-play
        %a.jp-video-play-icon{:href => "javascript:;", :tabindex => "1"} play
      .jp-interface
        .jp-progress
          .jp-seek-bar
            .jp-play-bar
        .jp-current-time
        .jp-duration
        .jp-controls-holder
          %ul.jp-controls
            %li
              %a.jp-play{:href => "javascript:;", :tabindex => "1"} play
            %li
              %a.jp-pause{:href => "javascript:;", :tabindex => "1"} pause
            %li
              %a.jp-stop{:href => "javascript:;", :tabindex => "1"} stop
            %li
              %a.jp-mute{:href => "javascript:;", :tabindex => "1", :title => "mute"} mute
            %li
              %a.jp-unmute{:href => "javascript:;", :tabindex => "1", :title => "unmute"} unmute
            %li
              %a.jp-volume-max{:href => "javascript:;", :tabindex => "1", :title => "max volume"} max volume
          .jp-volume-bar
            .jp-volume-bar-value
          %ul.jp-toggles
            %li
              %a.jp-full-screen{:href => "javascript:;", :tabindex => "1", :title => "full screen"} full screen
            %li
              %a.jp-restore-screen{:href => "javascript:;", :tabindex => "1", :title => "restore screen"} restore screen
            %li
              %a.jp-repeat{:href => "javascript:;", :tabindex => "1", :title => "repeat"} repeat
            %li
              %a.jp-repeat-off{:href => "javascript:;", :tabindex => "1", :title => "repeat off"} repeat off
        .jp-title
          %ul
            %li= @short['name']
            %li= @short['description']
    .jp-no-solution
      %span Update Required
      To play the media you will need to either update your browser to a recent version or update your
      = succeed "." do
        %a{:href => "http://get.adobe.com/flashplayer/", :target => "_blank"} Flash plugin


:javascript

  $("#jquery_jplayer_1").jPlayer({
    ready: function () {
      $(this).jPlayer("setMedia", { #{@short['extension']}: "#{@short['url']}" });
    },
    swfPath: "js",
    supplied: "#{@short['extension']}",
    size: {
      width: "640px",
      height: "360px",
      cssClass: "jp-video-360p"
    }
  });

:css
  .center {
    margin: 0 auto;
    padding: 0;
  }
