#shorterner-index
  %table
    %thead
      %tr
        %th Shortened
        %th Full Url
        %th Set Count
        %th Click Count
        %th TTL
        %th Max Clicks
    %tbody
      - @shortens.each do |short|
        %tr
          %td= short['shortened']
          %td
            %a{href: short['url']}= short['url'][0..50] + ((short['url'].length > 50) ? '...' : '')
          %td= short['set_count']
          %td= short['click_count'] || 0
          %td= ttl_display(short['expire'])
          %td= short['max-clicks'] || "&infin;"
          %td
            %a{href: "/delete/#{short['shortened']}", class: 'delete-button'}
              %img{src: 'delete-icon.png', alt: 'delete!', width: '16px', height: '16px'}
          %td= clippy("#{base_url}/#{short['shortened']}")

